.header{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.headerWrapper{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navItem{
    background-color: rgb(246, 17, 17);
    padding: 5px 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.navItem:hover{
    background-color: rgb(192, 1, 1);
}

.logo{
    font-weight: bold;
    font-size: 26px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .logo{
        font-size: 21px;
    }
}