.searchSection{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.form{
    margin-top: 5%;
    width: 60%;
}

.formItem{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.formItem > input{
    width: 100%;
    border: none;
    height: 50px;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 10px;
    position: relative;
}

.formItem > input:focus{
    outline: none;
}

.formItem > input:focus::placeholder{
    position: absolute;
    transition: .3s;
    font-size: 14px;
    top: 3px;
}


.searchList{
    background-color: rgba(0, 0, 0, 0.6);
    margin: 5px 0;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(137, 137, 137);
    overflow: hidden;
}

.searchItem{
    padding: 10px;
    border-top: 1px solid rgb(137, 137, 137);
    transition: .3s;
}
.searchItem:hover{
    background-color: white;
    color: black;
}

.searchBar::-webkit-search-decoration,
.searchBar::-webkit-search-cancel-button,
.searchBar::-webkit-search-results-button,
.searchBar::-webkit-search-results-decoration { display: none; }